body {
  background: cornsilk;
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pure-button {
  -webkit-border-radius: 5em; /* This line should be removed by autoprefixer from the final css */
  border-radius: 5em;
}